---
apiVersion: v1
kind: Namespace
metadata:
  name: blockscout
  labels:
    name: blockscout
---
apiVersion: v1
kind: Service
metadata:
  name: blockscout-db
  namespace: blockscout
spec:
  type: ExternalName
  externalName: "{{db_endpoint.address}}"
---
apiVersion: v1
kind: Service
metadata:
  name: blockscout-db-ro
  namespace: blockscout
spec:
  type: ExternalName
  externalName: "{{db_replica_endpoint.address}}"
---
apiVersion: v1
kind: Service
metadata:
  name: blockscout-db-stats
  namespace: blockscout
spec:
  type: ExternalName
  externalName: "{{db_stats_endpoint.address}}"
---
apiVersion: v1
kind: Service
metadata:
  name: blockscout-sc-verifier
  namespace: blockscout
spec:
  type: ClusterIP
  selector:
    app: blockscout-sc-verifier
  ports:
  - port: 8050
    name: http
    targetPort: 8050
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: blockscout-sc-verifier
  namespace: blockscout
spec:
  selector:
    matchLabels:
      app: blockscout-sc-verifier
  template:
    metadata:
      labels:
        app: blockscout-sc-verifier
    spec:
      containers:
      - name: blockscout-sc-verifier
        image: ghcr.io/blockscout/smart-contract-verifier:v1.6.0
        resources:
          requests:
            memory: 500Mi
            cpu: 200m
          limits:
            memory: 1Gi
            cpu: 400m
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8050
          name: http
          
