---
apiVersion: v1
kind: Namespace
metadata:
  name: iss
  labels:
    name: iss
---
apiVersion: v1
kind: Service
metadata:
  name: iss-db
  namespace: iss
spec:
  type: ExternalName
  externalName: "{{db_endpoint.address}}"
---
apiVersion: v1
kind: Service
metadata:
  name: iss-db-ro
  namespace: iss
spec:
  type: ExternalName
  externalName: "{{db_replica_endpoint.address}}"
---
apiVersion: v1
kind: Service
metadata:
  name: iss-grapqhl-engine
  namespace: iss
spec:
  type: ClusterIP
  selector:
    app: iss-grapqhl-engine
  ports:
  - port: 3000
    name: http
    targetPort: 3000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: iss-grapqhl-engine
  namespace: iss
spec:
  selector:
    matchLabels:
      app: iss-grapqhl-engine
  template:
    metadata:
      labels:
        app: iss-grapqhl-engine
    spec:
      containers:
      - name: iss-grapqhl-engine
        image: subquerynetwork/subql-query:latest
        args:
          - --name=iss
        env:
        - name: DB_USER
          value: "{{ indexer_db.user }}"
        - name: DB_PASS
          value: "{{ indexer_db.password }}"
        - name: DB_DATABASE
          value: "iss"
        - name: DB_HOST
          value: "iss-db-ro"
        - name: DB_PORT
          value: "{{ db_replica_endpoint.port }}"
        resources:
          requests:
            memory: 500Mi
            cpu: 200m
          limits:
            memory: 1Gi
            cpu: 400m
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
          name: http