---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
  name: iss-grapqhl-engine
  namespace: iss
spec:
  rules:
  - host: {{ iss_api_url }}
    http:
      paths:
      - backend:
          service:
            name: iss-grapqhl-engine
            port:
              number: 3000
        path: /
        pathType: Prefix
