---
apiVersion: v1
kind: Namespace
metadata:
  name: iss
  labels:
    name: iss
---
apiVersion: v1
kind: Service
metadata:
  name: iss-db
  namespace: iss
spec:
  type: ExternalName
  externalName: "{{db_endpoint.address}}"
---
apiVersion: v1
kind: Service
metadata:
  name: iss-db-ro
  namespace: iss
spec:
  type: ExternalName
  externalName: "{{db_replica_endpoint.address}}"
---
apiVersion: v1
kind: Service
metadata:
  name: iss-grapqhl-engine
  namespace: iss
spec:
  type: ClusterIP
  selector:
    app: iss-grapqhl-engine
  ports:
  - port: 3000
    name: http
    targetPort: 3000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: iss-grapqhl-engine
  namespace: iss
spec:
  selector:
    matchLabels:
      app: iss-grapqhl-engine
  template:
    metadata:
      labels:
        app: iss-grapqhl-engine
    spec:
      containers:
      - name: iss-grapqhl-engine
        image: subquerynetwork/subql-query:latest
        args:
          - --name=iss
        env:
        - name: DB_USER
          value: "{{ indexer_db.user }}"
        - name: DB_PASS
          value: "{{ indexer_db.password }}"
        - name: DB_DATABASE
          value: "iss"
        - name: DB_HOST
          value: "iss-db-ro"
        - name: DB_PORT
          value: "{{ db_replica_endpoint.port }}"
        resources:
          requests:
            memory: 1Gi
            cpu: 200m
          limits:
            memory: 2Gi
            cpu: 400m
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
          name: http
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: iss-ssc-1-node-template
  namespace: "sagasrv-ssc"
data:
  iss-node-config.yml: |
{% filter indent(width=4) %}
    {% include 'chains/ssc-1-node.yml' %}
{% endfilter %}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "iss-node"
  namespace: "sagasrv-ssc"
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: "iss-node"
  template:
    metadata:
      labels:
        app: "iss-node"
    spec:
      containers:
        - name: iss-worker
          image: "us-central1-docker.pkg.dev/saga-product-engineering/saga-ui-engineering/iss-cosmos-worker:{{ versions.iss_cosmos_worker }}"
          imagePullPolicy: IfNotPresent
          volumeMounts:
          - name: iss-ssc-1-node-template
            mountPath: /app/iss-node-config.yml
            subPath: iss-node-config.yml
          args:
            - --db-schema=iss
            - -f=/app/iss-node-config.yml
            - --multi-chain
            - --historical=false
            - --workers={{ iss_node_workers }}
            - --batch-size={{ iss_node_batch_size }}
          env:
            - name: DB_USER
              value: "{{ indexer_db.user }}"
            - name: DB_PASS
              value: "{{ indexer_db.password }}"
            - name: DB_DATABASE
              value: iss
            - name: DB_HOST
              value: iss-db.iss.svc.cluster.local
            - name: DB_PORT
              value: "5432"
          ports:
            - name: http
              containerPort: 3000
          readinessProbe:
            httpGet:
              path: /ready
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /ready
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10
      volumes:
        - name: iss-ssc-1-node-template
          configMap:
            name: iss-ssc-1-node-template
