{{- $isHub := (eq .ChainId "%%% hub_chain_id %%%") -}}
{{- $isDex := (eq .ChainId "%%% dex_chain_id %%%") -}}

{% include 'includes/chainlet.yml.tmpl' %}

{% if rpc_enabled %}
{% include 'includes/ingress.yml.tmpl' %}
{% endif %}

{% if explorer_sagaevm %}
{% include 'includes/explorer.yml.tmpl' %}
{% endif %}

{% if chains_monitor_enabled %}
{% include 'includes/cosmos-exporter.yml.tmpl' %}
{% endif %}

{% if relayer_enabled %}
{% include 'includes/relayer.yml.tmpl' %}
{% endif %}

{% if indexer_enabled %}
{% include 'includes/indexer.yml.tmpl' %}
{% endif %}
