loglevel: "debug"
json_log_file: "/var/log/saga/controller.log"
listen_grpc: ":19090"
listen_grpc_gateway: ":18090"
listen_prometheus: ":9000"
sync_frequency: "5s"
mnemonic: "{{ validator_mnemonic | default('') }}"
sources:
  "spc":
    grpc_endpoint: "spc-internal.sagasrv-spc.svc.cluster.local:9090"
    state_request_timeout: "10s"
    state_reload: "5s"
    rpc_endpoint: "http://spc-internal.sagasrv-spc.svc.cluster.local:26657"
    chain_id: "{{ chain_id }}"
deployment:
  deployer: "kube"
  state_reload: "10s"
  state_request_timeout: "30s"
  deploy_timeout: "10m"
  deploy_parallel: 8
  kube:
    in_cluster_config: true
    config_path: "/etc/saga/kube/config"
    template_paths:
      "spc": "/etc/saga/controller/kube/chainlet.yml.tmpl"
    lb_template_path: "/etc/saga/controller/kube/lb.yml.tmpl"
    pod_running_timeout: "300s"
    service_external_ip_timeout: "300s"
    host_resolution_timeout: "300s"
    config_map_key_commit_timeout: "300s"
    node_deployment_name: "node"
    namespace_prefix: "saga"
    namespace_deletion_timeout: "300s"
    namespace_pod_timeout: "300s"
    qps: 100
    throttling_burst: 200
    lb_port_limit: 25
    deployments: {{ chainlet_deployment_list }}
    env:
      moniker: "{{ moniker }}"
