---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "ingress-sidecar-jsonrpc"
  namespace: "{{ dex_chain_namespace }}"
  annotations:
    saga.xyz/ingress-protocol: "jsonrpc"
spec:
  ingressClassName: nginx
  rules:
{% for url in rpc_url_suffixes %}
    - host: "{{ dex_vanity_name }}.jsonrpc.{{ url }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: chainlet
                port:
                  number: 8545
{% endfor %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "ingress-sidecar-ws"
  namespace: "{{ dex_chain_namespace }}"
  annotations:
    nginx.org/websocket-services: "chainlet"
    saga.xyz/ingress-protocol: "ws"
spec:
  ingressClassName: nginx
  rules:
{% for url in rpc_url_suffixes %}
    - host: "{{ dex_vanity_name }}.ws.{{ url }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: chainlet
                port:
                  number: 8546
{% endfor %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "ingress-sidecar-cosmos-jsonrpc"
  namespace: "{{ dex_chain_namespace }}"
  annotations:
    saga.xyz/ingress-protocol: "jsonrpc"
spec:
  ingressClassName: nginx
  rules:
{% for url in rpc_url_suffixes %}
    - host: "{{ dex_vanity_name }}-cosmosrpc.jsonrpc.{{ url }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: chainlet
                port:
                  number: 26657
{% endfor %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "ingress-sidecar-cosmos-api"
  namespace: "{{ dex_chain_namespace }}"
  annotations:
    saga.xyz/ingress-protocol: "rest"
spec:
  ingressClassName: nginx
  rules:
{% for url in rpc_url_suffixes %}
    - host: "{{ dex_vanity_name }}-cosmosapi.jsonrpc.{{ url }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: chainlet
                port:
                  number: 1317
{% endfor %}

{% if explorer_sagaevm %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-sidecar-blockscout-frontend
  namespace: "{{ dex_chain_namespace }}"
  annotations:
    saga.xyz/ingress-protocol: "explorer"
spec:
  ingressClassName: nginx
  rules:
{% for url in explorer_url_suffixes %}
    - host: "{{ dex_vanity_name }}.{{ url }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: blockscout-frontend
                port:
                  number: 3000
{% endfor %}
{% endif %}