---
apiVersion: v1
kind: ConfigMap
metadata:
  name: blockscout-shared-configmap
  namespace: "{{ dex_service_namespace }}"
data:
  DATABASE_URL: "postgresql://{{ explorer_db.user }}:{{ explorer_db.password }}@postgres:5432/blockscout-{{ dex_chain_id }}"
  ETHEREUM_JSONRPC_HTTP_URL: "http://chainlet.{{ dex_chain_namespace }}.svc.cluster.local:8545"
  ETHEREUM_JSONRPC_WS_URL: "ws://chainlet.{{ dex_chain_namespace }}.svc.cluster.local:8546"
  SECRET_KEY_BASE: "{{ explorer_secret_key_base }}"
  ECTO_USE_SSL: "false"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "blockscout-indexer"
  namespace: "{{ dex_service_namespace }}"
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: "blockscout-indexer"
  template:
    metadata:
      labels:
        app: "blockscout-indexer"
        chainId: "{{ dex_chain_id }}-dex"
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "4000"
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      restartPolicy: Always
      containers:
        - name: blockscout-indexer
          image: ghcr.io/blockscout/blockscout:8.0.1
          resources:
            requests:
              cpu: "2"
              memory: 12Gi
            limits:
              cpu: "4"
              memory: 24Gi
          imagePullPolicy: IfNotPresent
          command:
            - /bin/sh
          args:
            - -c
            - bin/blockscout eval "Elixir.Explorer.ReleaseTasks.create_and_migrate()" && bin/blockscout start
          ports:
            - containerPort: 4000
              protocol: TCP
          envFrom:
            - configMapRef:
                name: blockscout-shared-configmap
          env:
            - name: APPLICATION_MODE
              value: "indexer"
            - name: DISABLE_WEBAPP
              value: "true"
            - name: API_V1_READ_METHODS_DISABLED
              value: "true"
            - name: API_V1_WRITE_METHODS_DISABLED
              value: "true"
            - name: DISABLE_API
              value: "true"
            - name: API_V2_ENABLED
              value: "false"
            - name: CHAIN_ID
              value: "{{ dex_chain_id }}"
            - name: JSON_RPC
              value: "https://sagaevm.jsonrpc.{{ rpc_url_suffixes[0] }}"
            - name: INDEXER_MEMORY_LIMIT
              value: "10Gi"
            - name: ETHEREUM_JSONRPC_DEBUG_TRACE_TRANSACTION_TIMEOUT
              value: "15s"
            - name: INDEXER_TX_ACTIONS_ENABLE
              value: "true"
            - name: INDEXER_TX_ACTIONS_UNISWAP_V3_FACTORY_CONTRACT
              value: "0x454050C4c9190390981Ac4b8d5AFcd7aC65eEffa"
            - name: INDEXER_TX_ACTIONS_UNISWAP_V3_NFT_POSITION_MANAGER_CONTRACT
              value: "0xdD489C75be1039ec7d843A6aC2Fd658350B067Cf"
            - name: INDEXER_INTERNAL_TRANSACTIONS_TRACER_TYPE
              value: "opcode"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: "{{ dex_service_namespace }}"
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      containers:
        - name: postgres
          image: postgres:14
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: "{{ explorer_db.user }}"
            - name: POSTGRES_PASSWORD
              value: "{{ explorer_db.password }}"
            - name: POSTGRES_DB
              value: "blockscout-{{ dex_chain_id }}"
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
            - name: POSTGRES_MAX_CONNECTIONS
              value: "200"
          resources:
            requests:
              memory: "1Gi"
              cpu: "0.5"
            limits:
              memory: "2Gi"
              cpu: "1"
          volumeMounts:
            - name: postgres-pvc
              mountPath: /var/lib/postgresql/data/pgdata
              subPath: pgdata
      volumes:
        - name: postgres-pvc
          persistentVolumeClaim:
            claimName: postgres-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: "{{ dex_service_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: "{{ dex_service_namespace }}"
spec:
  ports:
    - port: 5432
  selector:
    app: postgres
