---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "ingress-sidecar-jsonrpc"
  namespace: "{{ dex_chain_namespace }}"
  annotations:
    saga.xyz/ingress-protocol: "jsonrpc"
spec:
  ingressClassName: nginx
  rules:
{% for url in rpc_url_suffixes %}
    - host: "sagaevm.jsonrpc.{{ url }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: chainlet
                port:
                  number: 8545
{% endfor %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "ingress-sidecar-ws"
  namespace: "{{ dex_chain_namespace }}"
  annotations:
    nginx.org/websocket-services: "chainlet"
    saga.xyz/ingress-protocol: "ws"
spec:
  ingressClassName: nginx
  rules:
{% for url in rpc_url_suffixes %}
    - host: "sagaevm.ws.{{ url }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: chainlet
                port:
                  number: 8546
{% endfor %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "ingress-sidecar-cosmos-jsonrpc"
  namespace: "{{ dex_chain_namespace }}"
  annotations:
    saga.xyz/ingress-protocol: "jsonrpc"
spec:
  ingressClassName: nginx
  rules:
{% for url in rpc_url_suffixes %}
    - host: "sagaevm-cosmosrpc.jsonrpc.{{ url }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: chainlet
                port:
                  number: 26657
{% endfor %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "ingress-sidecar-cosmos-api"
  namespace: "{{ dex_chain_namespace }}"
  annotations:
    saga.xyz/ingress-protocol: "rest"
spec:
  ingressClassName: nginx
  rules:
{% for url in rpc_url_suffixes %}
    - host: "sagaevm-cosmosapi.jsonrpc.{{ url }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: chainlet
                port:
                  number: 1317
{% endfor %}