kind: Deployment
apiVersion: apps/v1
metadata:
  name: evm-balance-exporter
  namespace: {{ dex_service_namespace }}
  labels:
    app: evm-balance-exporter
spec:
  selector:
    matchLabels:
      app: evm-balance-exporter
  template:
    metadata:
      labels:
        app: evm-balance-exporter
        chainId: "{{ dex_chain_id }}"
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
    spec:
      containers:
      - name: evm-balance-exporter
        image: sagaxyz/evm-balance-exporter:0.0.4
        env:
        - name: RPC_ENDPOINT
          value: "http://chainlet.{{ dex_chain_namespace }}.svc.cluster.local:8545"
        - name: ADDRESSES
          value: "{{ dex_feepayers_addresses_monitor }}"
        - name: REFRESH_INTERVAL_SEC
          value: "60"
