---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "ingress-{{ .Name }}-jsonrpc"
  namespace: "{{ .Namespace }}"
  annotations:
    saga.xyz/ingress-protocol: "jsonrpc"
spec:
  ingressClassName: nginx
  rules:
{% for url in rpc_url_suffixes %}
    - host: "{{ .ChainletName }}-{{ .ChainIdNumber }}-1.jsonrpc.%%% url %%%"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: chainlet
                port:
                  number: 8545
{% endfor %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "ingress-{{ .Name }}-ws"
  namespace: "{{ .Namespace }}"
  annotations:
    nginx.org/websocket-services: "{{ .Name }}"
    saga.xyz/ingress-protocol: "ws"
spec:
  ingressClassName: nginx
  rules:
{% for url in rpc_url_suffixes %}
    - host: "{{ .ChainletName }}-{{ .ChainIdNumber }}-1.ws.%%% url %%%"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: chainlet
                port:
                  number: 8546
{% endfor %}
