---
apiVersion: v1
kind: Service
metadata:
  name: relayer
  namespace: "{{ .Namespace }}"
  labels:
    app: relayer
spec:
  type: ClusterIP
  selector:
    app: "{{ .Name }}"
  ports:
    - targetPort: 5183
      port: 5183
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "relayer"
  namespace: "{{ .Namespace }}"
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: "relayer"
  template:
    metadata:
      labels:
        app: "relayer"
        chainId: "{{ .ChainId }}"
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      restartPolicy: Always
      containers:
        - name: relayer
          image: "%%% relayer_image %%%"
          resources:
            requests:
              memory: "1Gi"
            limits:
              memory: "2Gi"
          imagePullPolicy: Always
          name: relayer
          command: ["bash", "start.sh"]
          env:
            - name: KEYPASSWD
              value: "%%% keychain_password %%%"
            - name: CONSUMER_CHAIN_ID
              value: "{{ .ChainId }}"
            - name: CONSUMER_DENOM
              value: "{{ .CoinDenom }}"
            - name: CONSUMER_RPC
              value: "http://{{ .Name }}.{{ .Namespace }}.svc.cluster.local:26657"
            - name: CONSUMER_MNEMONIC
              value: "%%% validator_mnemonic %%%"
            - name: PROVIDER_CHAIN_ID
              value: "%%% chain_id %%%"
            - name: PROVIDER_RPC
              value: "http://spc-internal.sagasrv-spc.svc.cluster.local:26657"
            - name: PROVIDER_API
              value: "http://spc-internal.sagasrv-spc.svc.cluster.local:1317"
            - name: PROVIDER_DENOM
              value: "upsaga"
            - name: PROVIDER_MNEMONIC
              value: "%%% validator_mnemonic %%%"
          ports:
            - containerPort: 5183
